body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}
.app {
    display: flex; /*Puts it in a row, 2 children in a row as opposed to column*/
    height: 100vh;
    max-width: 1300px;
    margin-left: auto; /*naturally add margin to this side (as much as possible)*/
    margin-right: auto; /*naturally add margin to this right (as much as possible)*/
    padding: 0 10px;
}